body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculadora {
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
}

.botoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.botoes button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer; /* transforma o cursor em mãozinha */
    transition: 0.3s;
}

.botoes button:hover {
    background-color: #45a049;
}

.botoes button:active {
    transform: scale(0.95);
}

/* Botão de operação com cor diferente */
.botoes button.operacao {
    background-color: #ff9800;
}

/* Botão de igual destacado */
.botoes button.igual {
    grid-column: span 3; /* Espandir botão em todas as colunas */
    background-color: #2196F3;
}

.botoes button.numero {
    background-color: #5a5a5a;
}

.botoes button.limpar {
    background-color: #f44336;
}
.botoes button.backspace {
    background-color: #ff9800;  
}